<div class="container">
    <div class="game-container">
        <div class="game-message">
            <p></p>
            <div class="lower">
                <a class="keep-playing-button">Keep going</a>
                <a class="retry-button">Try again</a>
                <a class="confirm-button">OK</a>
                <a class="cancel-button">Cancel</a>
            </div>
        </div>

        <div class="grid-container"></div>
        <div class="tile-container"></div>
    </div>

    <p class="game-explanation">
        <strong>How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
        <br /><br />
        The board can be <strong>rotated</strong> with <strong>Page Up and Page Down.</strong> The board can be <strong>flipped</strong> horizontally or vertically with <strong>H or V.</strong>
        <br /><br />
        <strong>R to restart, Ctrl+Z to undo.</strong>
    </p>
</div>
