<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ constants.siteName }}</title>

        {% include './common/headMeta.html.njk' %}
    </head>
    <body>
        {% include './common/gameContainer.html.njk' %}

        <script type="module" src="../js/application.js?v={{ constants.gitRevision() }}"></script>
    </body>
</html>
