@import 'constants';

@mixin button {
    display: inline-block;
    background: darken($game-container-background, 20%);
    padding: 0 20px;
    text-decoration: none;
    color: $bright-text-color;
    height: 40px;
    line-height: 42px;
}

.game-container {
    a {
        @include button;
        margin-left: 9px;

        &.confirm-button,
        &.cancel-button,
        &.keep-playing-button {
            display: none;
        }
    }
}

.game-won {
    a.keep-playing-button {
        display: inline-block;
    }
}

.restart-game {
    a.confirm-button,
    a.cancel-button {
        display: inline-block;
    }

    a.retry-button {
        display: none;
    }
}

.restart-button {
    @include button;

    display: block;
    text-align: center;
    float: right;

    @media screen and (max-width: $mobile-threshold) {
        width: 42%;
        padding: 0;
        display: block;
        box-sizing: border-box;
        margin-top: 2px;
    }
}
