@import 'constants';

.container {
    width: $field-width;
    margin: 0 auto;

    @media screen and (max-width: $mobile-threshold) {
        width: $field-width;
        margin: 0 auto;
    }
}

.game-container {
    margin-top: $game-container-margin-top;
    position: relative;
    padding: $grid-spacing;

    cursor: default;
    touch-action: none;

    background: $game-container-background;
    border-radius: $tile-border-radius * 2;
    width: $field-width;
    height: $field-width;
    box-sizing: border-box;
}

.game-message {
    display: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($tile-color, .5);
    z-index: 100;

    text-align: center;

    p {
        font-size: 60px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        margin-top: 222px;

        @media screen and (max-width: $mobile-threshold) {
            font-size: 30px;
            height: 30px;
            line-height: 30px;
            margin-top: 90px;
        }
    }

    .lower {
        display: block;
        margin-top: 59px;

        @media screen and (max-width: $mobile-threshold) {
            margin-top: 30px;
        }
    }

    animation: fade-in 800ms ease $transition-speed * 12;
    animation-fill-mode: both;

    &.game-won {
        background: rgba($tile-gold-color, .5);
        color: $bright-text-color;
    }

    &.game-won,
    &.game-over,
    &.restart-game {
        display: block;
    }

    &.restart-game {
        animation: fade-in 400ms ease $transition-speed;
        animation-fill-mode: both;

        .lower {
            margin-top: 85px;
        }
    }
}

.above-game {
    @include clearfix;
}

.game-intro {
    float: left;
    line-height: 42px;
    margin-bottom: 0;

    @media screen and (max-width: $mobile-threshold) {
        width: 55%;
        display: block;
        box-sizing: border-box;
        line-height: 1.65;
    }
}

.game-explanation {
    margin-top: 50px;
}
