@import 'constants';

.scores-container {
    float: right;
    text-align: right;
}

.moves-container,
.score-container,
.best-container {
    $height: 25px;

    position: relative;
    display: inline-block;
    background: $game-container-background;
    padding: 15px 25px;
    font-size: $height;
    height: $height;
    line-height: $height + 22px;
    font-weight: bold;
    color: white;
    margin-top: 8px;
    text-align: center;

    @media screen and (max-width: $mobile-threshold) {
        margin-top: 0;
        padding: 15px 10px;
        min-width: 40px;
    }

    &:after {
        position: absolute;
        width: 100%;
        top: 10px;
        left: 0;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: $tile-color;
    }

    .score-addition {
        position: absolute;
        right: 30px;
        color: red;
        font-size: $height;
        line-height: $height;
        font-weight: bold;
        color: rgba($text-color, .9);
        z-index: 100;
        animation: move-up 600ms ease-in;
        animation-fill-mode: both;
    }
}

.moves-container:after {
  content: 'Moves';
}

.score-container:after {
  content: 'Score';
}

.best-container:after {
  content: 'Best';
}
