@import 'constants';
@import 'header';
@import 'animations';
@import 'buttons';
@import 'tile';
@import 'grid';
@import 'game';

html {
    margin: 0;
    padding: 0;
}

body {
    background: $body-background-color;
    color: $text-color;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    margin: 0;
}

a {
    color: $text-color;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
